/*----------------------------------------
    Login Page
------------------------------------------*/

.login-page {
    
    margin-top: 35px;
    
    .login-form, .resetform {
	    width: 300px;
	    margin: 0 auto;
	}
	.login-form-text {
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    font-size: 0.8rem;
	}
	.profile-image-login {
	    width: 100px;
	    height: 100px !important;
	}
	.login-text {
	    margin-top: -6px;
	    margin-left: -6px !important;
	}
    	
}



